entrypoint = "index.js"
modules = ["nodejs-20", "postgresql-16"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[objectStorage]
defaultBucketID = "replit-objstore-f69a1150-f7cd-4609-b1fb-c05f907b6c60"

[agent]
expertMode = true
